extends layout

block content
    .timeline
        form#join-form(action=`/user/${user.id}` method='POST')
            .input-group
                label(for='join-email') 이메일
                input#join-email(type='email' name='email' value=user.email)
            .input-group
                label(for='join-nick') 닉네임
                input#join-nick(type='text' name='nick' value=user.nick)
            if joinError
                .error-message= joinError
            button#join-btn.btn(type='submit') 수정하기
